// Variables
$pageMax: 1024px;
$articleMax: 800px;

body {
  display: flex; // Removes top gap between modal drawer and viewport
  margin: 0; // Removes top gap between top app bar and viewport
}

img {
  width: 100%;
}

.contained-section {
  max-width: $pageMax;
  padding: 16px;
  width: calc(100vw - 32px);
  margin: 0 auto;
}

.header-section {
  display: none;
}

// Navigation
.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color-accessible(white);
  @include mdc-top-app-bar-icon-ink-color(rgba(0, 0, 0, 0.6));
  border-bottom: 1px solid #ddd;
  position: absolute;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0 auto;
}

.nav-title {
  margin: 16px 0 0 16px;
}

.topic-section {
  display: flex;
  align-items: center;
}

.topics {
  padding: 0 0 0 8px;
}

.topic {
  display: inline-block;
}

.topic a {
  color: $mdc-theme-primary;
  font-weight: 500;
  margin-left: 16px;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 64px;
}

// Cards on Homepage
.horizontal-card {
  display: flex;
  flex-direction: row;
}

.main-intro .horizontal-card .demo-card__primary {
  width: calc(100% - 150px);
}

.demo-card__meta {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.demo-card__media.mdc-card__media--square {
  width: 150px;
}

.demo-card__primary {
  padding: 8px;
}

.mdc-card + .mdc-card {
  margin-top: 16px;
}

.demo-card,
.demo-card a {
  text-decoration: none;
  color: inherit;
}

.mdc-card__primary-action {
  height: 100%;
}

.demo-card .mdc-typography--subtitle1,
.demo-card .mdc-typography--headline2 {
  margin: 0;
}

.just-added,
.headline-title {
  color: $mdc-theme-primary;
}

.headline-section {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}

.archive-image {
  min-width: 400px;
}

.archive-section .demo-card__primary {
  padding: 16px;
}

.left {
  margin-bottom: 16px;
}

@media screen and (min-width: 800px) {
  main {
    padding: 32px;
  }

  .mdc-card + .mdc-card {
    margin-top: 32px;
  }

  .main-intro {
    display: flex;
  }

  .left {
    margin-bottom: 0;
  }

  .left,
  .right {
    display: flex;
    width: 100%;
  }

  .right {
    flex-direction: column;
    margin-left: 32px;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: -16px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 128px;
  }
}

// Article Page

.article {
  max-width: $articleMax;
}

.article-meta {
  display: flex;
  justify-content: space-between;
}

.article-title {
  margin: 0;
}

.article-preview {
  max-width: 340px;
  line-height: 1.8;
}

.article-body p:first-child::first-letter {
  font-size: 86px;
  font-style: italic;
  font-weight: 800;
  initial-letter: 2;
  float: left;
  line-height: 1;
  padding-right: 16px;
}

.author {
  color: $mdc-theme-primary;
}

.author-meta {
  display: flex;
  align-items: center;
  margin-top: -16px;
  text-decoration: none;
}

.author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.hero-caption {
  max-width: 500px;
}