body {
  display: flex; // Removes top gap between modal drawer and viewport
  margin: 0; // Removes top gap between top app bar and viewport
}

img {
  width: 100%;
}

main {
  max-width: 1024px;
  padding: 16px;
  width: calc(100vw - 32px);
}

// Navigation
.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color-accessible(white);
  @include mdc-top-app-bar-icon-ink-color(rgba(0, 0, 0, 0.6));
  border-bottom: 1px solid #ddd;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0 auto;
}

.nav-title {
  margin: 16px 0 0 16px;
}

// Cards on Homepage
.horizontal-card {
  display: flex;
  flex-direction: row;
}

.main-intro .horizontal-card .demo-card__primary {
  width: calc(100% - 150px);
}

.demo-card__meta {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.demo-card__media.mdc-card__media--square {
  width: 150px;
}

.demo-card__primary {
  padding: 8px;
}

.mdc-card + .mdc-card {
  margin-top: 16px;
}

.mdc-card__primary-action {
  height: 100%;
}

.demo-card .mdc-typography--subtitle1,
.demo-card .mdc-typography--headline2 {
  margin: 0;
}

.just-added,
.headline-title {
  color: $mdc-theme-primary;
}

.headline-section {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}

.archive-image {
  min-width: 400px;
}

.archive-section .demo-card__primary {
  padding: 16px;
}

.left {
  margin-bottom: 16px;
}

@media screen and (min-width: 800px) {
  main {
    padding: 32px;
  }

  .mdc-card + .mdc-card {
    margin-top: 32px;
  }

  .main-intro {
    display: flex;
  }

  .left {
    margin-bottom: 0;
  }

  .left,
  .right {
    display: flex;
    width: 100%;
  }

  .right {
    flex-direction: column;
    margin-left: 32px;
  }
}