body {
  display: flex; // Removes top gap between modal drawer and viewport
  margin: 0; // Removes top gap between top app bar and viewport
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color-accessible(white);
  @include mdc-top-app-bar-icon-ink-color(rgba(0, 0, 0, 0.6));
}

.main-content {
  margin: 20px 50px;
}

// Navigation
.nav-title {
  margin: 16px 0 0 16px;
}

// Cards on Homepage
.horizontal-card {
  display: flex;
  flex-direction: row;
}

.demo-card__media.mdc-card__media--square {
  width: 110px;
}